[submodule "AdvancedAutoGG"]
	path = AdvancedAutoGG
	url = https://github.com/Plextora/AdvancedAutoGG.git
	branch = master
[submodule "ChatLogger"]
	path = ChatLogger
	url = https://github.com/Plextora/ChatLogger.git
        branch = master
